


#hero-1 header.theme-dark { 
    background-color: var(--blue-700) 
}

#hero-2 header.hero-bg > .container-overlay { 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); 
} 

#hero-2 h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
}

#hero-3 {
    margin-top: 48px;

 }

#hero-3 h1 {
    font-family: 'Abril Fatface', serif;
    font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
}

#hero-4 .theme-light { background-color: var(--red-300) } 

#hero-4 {margin-top: 48px;}

a:link, a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: purple;
    border-bottom: solid 2px orange;}







